<%- include('partials/header'); -%>

<% var user = (currentUser.username).toString(); %>
<% var result = {username: "" , email: ""}; %>
<% dashboard.forEach(function(obj){ %>
<% console.log(typeof user); %>
<% console.log(obj.username == currentUser.username); %>
    <% if(obj.username === user){ %>
        <% result.username = obj.username; %>
        <% result.age = obj.age; %>
        <% result.gender = obj.gender; %>
        <% result.email = obj.email; %>
        <% result.mobile = obj.mobile; %>
        <% result.address = obj.address; %>
  <%  } %>
<% }); %>

<% console.log(result); %>

<section id="dash">
  <div class="container">
    <div class="row">

      <div class="col-md-5" id="dash1">
        <!-- <h3>Welcome User</h3> -->
        <div class="profile">
        </div>
        <div style="padding: 1px; margin-top: 20px; margin-bottom: 20px">
          <form id="contact">
            <div class="form-group row" id="enq" style="margin:15px; padding: 0px">
              <label style="color: #F76C6C; font-weight: normal; font-size: 100%; display: inline-block" for="inputname" class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputname" name="" value="<%= result.username %>" placeholder="name">
              </div>
            </div>
            <div class="form-group row" id="enq" style="margin:15px; padding: 0px">
              <label style="color: #F76C6C; font-weight: normal; font-size: 100%; display: inline-block" for="inputage" class="col-md-3 col-form-label">Age</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="inputage" name="" value="<%= result.age %>" placeholder="age">
              </div>
            </div>
            <div class="form-group row" id="enq" style="margin:15px; padding: 0px">
              <label style="color: #F76C6C; font-weight: normal; font-size: 100%; display: inline-block" for="inputgender" class="col-md-3 col-form-label">Gender</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="inputgender" name="" value="<%= result.gender %>" placeholder="gender">
              </div>
            </div>
            <div class="form-group row" id="enq" style="margin:15px; padding: 0px">
              <label style="color: #F76C6C; font-weight: normal; font-size: 100%; display: inline-block" for="inputemail" class="col-md-3 col-form-label">E-mail</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="inputemail" name="" value="<%= result.email %>" placeholder="email">
              </div>
            </div>
            <div class="form-group row" id="enq" style="margin:15px; padding: 0px">
              <label style="color: #F76C6C; font-weight: normal; font-size: 100%; display: inline-block" for="inputmobile" class="col-md-3 col-form-label">Mobile</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="inputphone" name="" value="<%= result.mobile %>" placeholder="mobile">
              </div>
            </div>
            <div class="form-group row" id="enq" style="margin:15px; padding: 0px">
              <label style="color: #F76C6C; font-weight: normal; font-size: 100%; display: inline-block" for="inputaddress" class="col-md-3 col-form-label">Address</label>
              <div class="col-md-9">
                <textarea class="form-control" name="" value="" rows="3" placeholder="address" id="inputaddress"><%= result.address %></textarea>
              </div>
            </div>
        </div>
        </div>


      <div class="col-md-7">
        <h1 id="brand" style="font-size: 400%; text-transform: none; color: #A8D0E6">Dashboard</h1>
        <div id="dash2">
          <div style="margin-bottom: 50px; margin-top:30px">
            <div style="margin-left: 40px; margin-right: 40px; margin-top: 50px">
                <button class="btn btn-default" id="enqBtn" name="button" style="text-align: left; line-height: 0">
                  <a href="/car_details" style="color: inherit; text-decoration:none;">Car Details</a>
                </button>

            </div>
            <div style="margin-left: 40px; margin-right: 40px">
              <button class="btn btn-default" id="enqBtn" type="submit" name="button" style="text-align: left; line-height: 0">
                My Bookings
              </button>
            </div>
            <div style="margin-left: 40px; margin-right: 40px">
              <button class="btn btn-default" id="enqBtn" type="submit" name="button" style="text-align: left; line-height: 0">
                <a href="/book_appointment" style="color: inherit; text-decoration:none;">Book Appointment</a>
              </button>
            </div>
            <div style="margin-left: 40px; margin-right: 40px">
              <button class="btn btn-default" id="enqBtn" type="submit" name="button" style="text-align: left; line-height: 0">
                Insurance Check
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<%- include('partials/footer'); -%>
